.form-avatar img {
  border-radius: 50%;
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

.profile-details {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.profile-border {
  border: 1px solid #ddd;
  padding: 8px;
  margin-top: 10px;
  border-radius: 8px;
}

.user-name {
  font-size: 28px;
}
