<h2 class="content-block">Home</h2>
<div class="content-block">
  <div class="dx-card" style="padding: 20px">
    <div class="logos-container">
      <img src="./../../../assets/images/raynet_logo.png" />
    </div>
    <div class="introduction">
      <div class="header">Introduction</div>
      <p>
        This is a software development exercise for a Raynet GmbH frontend
        developer position.
      </p>
      <p>
        This excercise is only for candidates who were invited from the
        exercise beforehand. If you did not get invited please do not take this
        exercise.
      </p>
    </div>
    <div class="task">
      <div class="header">Task</div>
      <ul>
        <li>
          You are building a web-page to show the tasks of a workflow management
          system.
        </li>
        <li>
          Update the registration screen:
          <ul>
            <li>
              We need the following inputs from the users:
              <ul>
                <li>Email</li>
                <li>Password</li>
                <li>Display name (Max length of 15 characters)</li>
                <li>
                  Phone number in an international plus prefixed format, like
                  <span class="code">+49 151 240 123 87</span>
                </li>
              </ul>
            </li>
            <br />
            <li>
              Add validators to the inputs
            </li>
            <ul>
              <li>Bad email</li>
              <li>Password missmatch</li>
              <li>Bad phone number</li>
              <li>Registration success - Show toast/notification message <a target="_blank" href="https://js.devexpress.com/Documentation/Guide/UI_Components/Toast/Getting_Started_with_Toast/">(Toast component)</a></li>
              <li>
                Any other validation you know needs to be done on normal
                registration form
              </li>
            </ul>

            <li>
              Think phone number input UX. A phone number widget must have a
              good UX for global visitors who might lack an understanding what
              phone number country code is. Feel free to use your favorite phone
              number widget if neccessary.
            </li>
            <li>
              Add the phone number to the existing profile page, so that users
              can see the phone number associated with their account.
            </li>
          </ul>
        </li>
        <br/>
        <li>Update the profile screen:
          <ul>
            <li>Add a display name field after the ID field and make it readonly.</li>
            <li>Add a phone number field after the last name field and make it readonly.</li>
          </ul>
        </li>
        <br/>
        <li>Update the profile view stylings
          <ul>
            <li>The styling of the profile page is ugly, please improve the styling in a reuseable way, in case we want to have the same styling somewhere else. Currently it looks like this:
              <img src="../../../assets/images/profile.png" width="100%" height="250px" />
            </li>
          </ul>
        </li>
        <br/>
        <li>Find and fix other bugs that prevent the website from going online. Furthermore, you can do small improvements to the structure or code.</li>
        <br/>
        <li>Which improvements would you suggest to improve the further development when the project grows?</li>
      </ul>
    </div>
  </div>
</div>
