<form class="create-account-form" (submit)="onSubmit($event)">
  <dx-form [formData]="userRegistrationData" [disabled]="loading">

    <ng-container *ngFor="let field of formFields">
      <dxi-item [dataField]="field.dataField" [editorType]="field.editorType" [editorOptions]="field.editorOptions">
        <ng-container *ngFor="let rule of field.validationRules">
          <dxi-validation-rule [type]="rule.type" [message]="rule.message"
          [validationCallback]="getValidationCallback(rule)" [pattern]="getPattern(rule)"></dxi-validation-rule>
        </ng-container>
        <dxo-label [visible]="false"></dxo-label>
      </dxi-item>
    </ng-container>

    <dxi-item>
      <div class='policy-info'>
        By creating an account, you agree to the <a routerLink="#">Terms of Service</a> and <a routerLink="#">Privacy
          Policy</a>
      </div>
    </dxi-item>

    <dxi-item itemType="button">
      <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="'createAccountTemplate'">
      </dxo-button-options>
    </dxi-item>

    <dxi-item>
      <div class="login-link">
        Have an account? <a routerLink="/login">Sign In</a>
      </div>
    </dxi-item>

    <ng-container *dxTemplate="let item of 'createAccountTemplate'">
      <div>
        <span class="dx-button-text">
          <ng-container *ngIf="loading; else notLoading">
            <dx-load-indicator width="24px" height="24px" [visible]="true"></dx-load-indicator>
          </ng-container>

          <ng-template #notLoading>Create a new account</ng-template>
        </span>
      </div>
    </ng-container>

  </dx-form>
</form>
